html,
body,
ul {
  margin: 0;
  padding: 0; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: Roboto;
  font-size: 15px;
  background: #2ecc71;
  color: #555; }

ul,
li {
  list-style: none; }

#list {
  list-style: none;
  overflow: hidden; }
  #list > li {
    border-bottom: 1px solid #ddd; }
  #list .group-name {
    padding: 20px 15px;
    background: #fff;
    cursor: pointer; }
  #list .sub-level {
    -webkit-perspective: 600px;
    background: #34495e;
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.3) inset; }
    #list .sub-level .group-animal {
      color: #fff;
      background: #aa;
      padding: 0;
      margin: 0 20px;
      height: 0;
      -webkit-backface-visibility: hidden;
      -webkit-transform-origin: 0 50%;
      -webkit-transition: all ease-in-out .45s;
      -webkit-transform: rotateX(100deg); }
    #list .sub-level.open .group-animal {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      margin: 0;
      height: 25px;
      padding: 10px 15px;
      -webkit-transform: rotateX(0); }
