html,
body,
div,
menu,
p,
figure {
  margin: 0;
  padding: 0;
}

body {
  background: #3498db;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#iphone {
  display: block;
  width: 360px;
  height: 560px;
  border-width: 90px 18px 90px;
  border-style: solid;
  border-color: #fff;
  margin: 30px auto;
  border-radius: 35px;
  position: relative;
  box-shadow: 6px 8px 0 6px #ddd, 22px 25px 0 rgba(0, 0, 0, .15);
}

#top-pane {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  top: -55px;
}

#speaker {
  width: 60px;
  height: 12px;
  background: #eee;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 3px 0 rgba(0, 0, 0, .06) inset;
}

#camera-lense {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #eee;
  box-shadow: 0 3px 0 rgba(0, 0, 0, .06) inset;
  border-radius: 50%;
  margin-right: 2px;
}

#bottom-pane {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -70px;
  text-align: center;
}

#home-button {
  width: 55px;
  height: 55px;
  background: #ddd;
  border-radius: 50%;
  display: inline-block;
  text-indent: -999px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, .07) inset, 0 5px 0 rgba(0, 0, 0, .01);
  position: relative;
  border: 0;

  &:after {
    width: 18px;
    height: 18px;
    position: absolute;
    top: calc(50% - 9px - 2px);
    left: calc(50% - 9px - 2px);
    content: "";
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
  }
}

#screen {
  display: block;
  width: 100%;
  height: 100%;
  background: #34495e;
  position: relative;
}

#navigation-bar {
  overflow: hidden;
  padding: 3px;
  background: rgba(0, 0, 0, .2);
  color: #fff;
  font-size: 12px;
  text-align: center;
  font-weight: 600;

  i {
    font-size: 14px;
  }

  .connectivity {
    float: left;
  }

  .utilities {
    float: right;
  }

  .battery {
    display: inline-block;
    width: 17px;
    height: 8px;
    border: 1px solid #fff;
    position: relative;

    &:before {
     position: absolute;
     top: 1px;
     left: 1px;
     bottom: 1px;
     content: "";
     width: 61%;
     background: #fff;
    }

    &:after {
      position: absolute;
      content: "";
      border: 1px solid #fff;
      border-left: 0;
      top: 2px;
      right: -3px;
      padding: 1px;
    }
  }
}

#apps-grid {
  overflow: hidden;
  list-style: none;
  padding: 5px 0;

  li {
    float: left;
    width: 90px;
    text-align: center;
    padding: 10px 0;
  }
}

.app-icon {
  width: 68px;
  height: 68px;
  margin: 0 auto;
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;

  i[class*=icon] {
    display: inline-block;
    margin-top: 8px;
    color: #fff;
    font-size: 48px;
  }
}

.app-name {
  text-align: center;
  color: #fff;
  font-size: 14px;
  margin-top: 6px;
  letter-spacing: 1px;
}

#sms {
  background: #2ecc71;
}

#ical {
  background: #fff;

  header {
    display: block;
    padding: 8px 0 0;
    color: red;
    font-size: 12px;
  }

  figure {
    display: block;
    font-size: 35px;
    font-weight: normal;
    line-height: 33px;
  }
}

#camera {
  background: #fff;

 .icon-camera {
   color: #aaa;
 }
}

#dropbox {
  background: #3498db;
}

#gplus {
  background: #e74c3c;
}

#linkedin {
  background: #2980b9;

  .icon-linkedin {
    color: #fff;
  }
}

#pinterest {
  background: #fff;

  .icon-pinterest {
    font-size: 55px;
    color: #ED003B;
  }
}

#freshbooks {
  background: #fff;

  .icon-leaf {
    color: #2ecc71;
  }
}

#mail {
  background: #3498db;

  .icon-envelope {
    color: #fff;
  }
}

#weather {
  background: #FFBB00;
}

#facebook {
  background: #415E9B;

  .icon-facebook {
    margin-top: 10px;
  }
}

#youtube {
  background: #ED1730;
}

#music {
  background: #9b59b6;
}